@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;

}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-bottom: 32px;
}


.content {
    width: 926px;
    height: 28vw;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }


.card img {
    width: 100px;
    height: 100px;
}

.front-card{
    display: none;
}

.back-card{
    display: initial;
}

@media (max-width: 614px) {
    .content {
        width: 30%;
        height: auto;
    }

    .card {
        margin-bottom: 25px;
    }

    h1 {
        text-align: center;
    }

}